//COLORS
$colorBlue: #53b1c8;
$colorYellow: #edbf47;
$colorRed: #ed3f27;
$color-light-gray: #f7f7f7;
$color-dark-gray: #777;
$color-white: #fff;
$color-black: #2b2b2b;
$footer-color:rgb(207, 207, 207);
$paragraph-font-color: #797979;
$heading-titles-color: #2f2f2f;
//GRID
$grid-width: 80.5rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 2.143rem;
