.feat__box{
    @include transition(all 0.2s);
    padding:50px 25px;
    color:$color-white;
    &:hover{
        @include transform(scaleY(1.01) translateY(-0.5rem) );
    }
    & .icon__box{
        height:80px;
        margin-bottom: 2rem;
        img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            
        }
    }
    &__f1{
        background-color: darken($colorBlue,8);
        &:hover{
            background-color:lighten($colorBlue,4);
        }
    }
    &__f2{
        background-color: darken($colorYellow,8);
        &:hover{background-color: lighten($colorYellow,4);}  
    }
    &__f3{
        background-color: darken($colorRed,8);
        &:hover{background-color: lighten($colorRed,4);}
    }

}

